@use "../abstracts/" as *;

$bt-top: 0.75rem;

// TODO: Make grid layout

.blogpost-main {
  padding-top: 61px;

  @include mqLargerThan(tablet-sm) {
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 7fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }

  // ARTICLE CONTAINER
  .blogpost-section {
    article {
      background-color: white;
      margin: 0 auto;
      overflow: hidden;
      position: relative;

      @include mqLargerThan(tablet-sm) {
        max-width: 100%;
        border-radius: 10px;

        &::before {
          position: absolute;
          content: "";
          inset: 0;
          padding: 1px;
          border-radius: 10px;
          background: linear-gradient(
            0deg,
            map-get($colors, bw, 300) 75%,
            transparent 90%
          );
          -webkit-mask: linear-gradient(map-get($colors, bw, 300) 0 0)
              content-box,
            linear-gradient(map-get($colors, bw, 300) 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
        }
      }

      // HEADER > IMAGE > DATE > DESC
      .blogpost-header {
        // ARTICLE IMAGE
        &__img {
          position: relative;
          width: 100%;
          // height: 26rem;
          // word-break: break-word;
          padding: 25%;

          img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            object-position: 20%;
            height: 100%;
            width: 100%;

            @include mqLargerThan(tablet-sm) {
              border-radius: 10px 10px 0 0;
            }
          }
        }

        &__text {
          padding: $content-p-x;

          .description {
            width: 30ch;
            margin-bottom: 0;
            text-indent: 0;
            color: darken($color: map-get($gmk9009, green), $amount: 20%);
          }
        }
      }

      hr {
        width: calc(100% - ($content-p-x * 2));
        border-top: 1px solid map-get($colors, bw, 200);
        margin: 1rem auto;
      }

      // ARTICLE TEXT CONTENT CONTAINER
      .blogpost-article {
        margin: 0 auto;
        padding: $content-p-x;
        width: 100%;
        text-align: left;

        @include mqLargerThan(tablet-sm) {
          padding: 2.5rem;
        }

        p {
          // width: 29ch;
          text-align: justify;
          text-indent: 2.5ch;
          margin-bottom: 1.25rem;
        }
      }
    }
  }
}
