@use "functions" as *;

$breakpoints: (
  mobile-sm: toEm(320),
  mobile-md: toEm(375),
  mobile-lg: toEm(425),
  tablet-sm: toEm(768),
  tablet-md: toEm(1023),
  desktop-sm: toEm(1280),
  desktop-md: toEm(1440),
  desktop-lg: toEm(1920),
);
