@use "sass:map";

$colors: (
  bw: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 95%),
    300: hsl(0, 0%, 75%),
    400: hsl(0, 0%, 50%),
    500: hsl(0, 0%, 35%),
    600: hsl(0, 0%, 25%),
    700: hsl(0, 0%, 5%),
    800: hsl(0, 0%, 1%),
    900: hsl(0, 0%, 0%),
  ),
  primary: (
    100: hsl(183, 82%, 61%),
    200: hsl(183, 96%, 47%),
    300: hsl(183, 52%, 45%),
    400: hsl(183, 96%, 32%),
    500: hsl(183, 96%, 22%),
  ),
  analogous: (
    200: hsl(215, 96%, 35%),
    300: hsl(199, 96%, 37%),
    400: hsl(183, 96%, 32%),
    500: hsl(166, 96%, 37%),
    600: hsl(149, 96%, 35%),
  ),
  splitcomp: (
    200: #ed321c,
    300: #a11b0b,
    400: #0398a0,
    500: #eda51c,
    600: #a16d0b,
  ),
);

$gmk9009: (
  black: #222,
  white: #fffff3,
  beige: #e0dac1,
  green: #a6bf9a,
  pink: #eab7c5,
);
