---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout pageTitle="Contact">
  <section>
    <h1>Contact</h1>

    <ul role="list" class="link-card-grid">
      <Card
        href="https://www.twitch.tv/kindofadev"
        title="Twitch"
        body="You can catch me streaming study time and a bit of gaming M-F!"
      />
      <Card
        href="https://www.twitch.tv/kindofadev"
        title="Twitch"
        body="You can catch me streaming study time and a bit of gaming M-F!"
      />
      <Card
        href="https://www.twitch.tv/kindofadev"
        title="Twitch"
        body="You can catch me streaming study time and a bit of gaming M-F!"
      />
      <Card
        href="https://www.twitch.tv/kindofadev"
        title="Twitch"
        body="You can catch me streaming study time and a bit of gaming M-F!"
      />
    </ul>
  </section>
</Layout>
