---
const today = new Date();
---

<footer>
  <section>
    &copy; {today.getFullYear()}
    <span>AMSIII</span> All rights reserved.
  </section>
</footer>

<style lang="scss">
  footer {
    position: absolute;
    bottom: 0;
    height: 2rem;
    width: 100%;
    display: grid;
    place-items: center;

    section {
      // height: 100%;
      margin: 0 auto;
    }
  }
</style>
